@if(examInfo === null){
    <p>No Exam Found</p>
    }@else{
    <div class="exam-details">
        <h1 class="text-3xl md:text-5xl font-semibold">{{examInfo.examName}}</h1>
    
        <div class="grid grid-cols-2 gap-4 my-4">
            <div class="analytics-card p-4 bg-gray-100 rounded">
                <p class="text-2xl md:text-4xl font-semibold">{{examInfo.cutoff}}</p>
                <p class="text-sm md:text-lg">Exam Cutoff</p>
            </div>
    
            <div class="analytics-card p-4 bg-gray-100 rounded">
                <p class="text-2xl md:text-4xl font-semibold">
                    {{examInfo.participants.length}}
                </p>
                <p class="text-sm md:text-lg">Students Attempted</p>
            </div>
        </div>
    
        <div class="flex items-center my-4">
            <label class="flex items-center gap-2">
                <input 
                    type="checkbox" 
                    [(ngModel)]="qualifiedOnly" 
                    (ngModelChange)="filterQualified()"
                    class=""
                >
                <span>Show Qualified Only</span>
            </label>
            <span class="ml-4 text-sm text-gray-600">
                (Qualified: {{calculateQualifiedCount()}} / {{examInfo.participants.length}})
            </span>
        </div>
    
        <table class="w-full border-collapse">
            <thead >
                <tr>
                    <th class="p-2 border">Student Id</th>
                    <th class="p-2 border">Name</th>
                    <th class="p-2 border">Score</th>
                    <th class="p-2 border">Qualified</th>
                </tr>
            </thead>
            <tbody>
                @for(participant of filteredParticipants; track participant.studentId){
                <tr class="">
                    <td class="p-2 border text-center">
                        {{participant.student.studentId}}
                    </td>
                    <td class="p-2 border">
                        {{participant.student.name}}
                    </td>
                    <td class="p-2 border text-center">
                        {{participant.score}} / {{examInfo.totalScore}}
                    </td>
                    <td class="p-2 border text-center">
                        {{participant.score >= examInfo.cutoff ? "Yes" : "No"}}
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    }