<div class="analytics-card ">



    <h1 class="text-xl md:text-3xl font-bold">All Exams</h1>


    <div class="grid md:grid-cols-2 gap-4 mt-4">
        @for(exam of allExams; track exam.examId){
        <div class="bg-white p-3 rounded-lg">
            <div class="flex justify-between">
                <div class="">
                    <p class="text-base md:text-xl font-medium">{{exam.examName}}</p>
                    <p class="text-xs md:text-sm mt-1"> <span class="font-medium"> Students Attempted</span> :
                        {{exam.participants.length}}</p>
                </div>
                <a class="block h-fit my-auto" [routerLink]="['/exams', exam.examId]">
                    <button class="!text-sm md:text-base dark block my-auto">View Details</button>
                </a>
            </div>
        </div>
        }
    </div>

</div>