@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "primeicons/primeicons.css";


:root {
    --bg-gray: #f5f5f7;
}

* {
    color: black;
    font-family: "Inter", serif;
    margin: 0;
}

section {
    padding: 4rem 5%;
}

body {
    background-color: white;
    margin: 0;
}

a {
    color: black;
    // text-decoration: none;
}

.analytics-card {
    background-color: var(--bg-gray);
    border-radius: 0.9rem;
    padding: 2rem;

    @media only screen and (max-width: 600px) {
        padding: 1rem;

    }

    &.black {
        background-color: #131313;

        * {
            color: white;
        }
    }

}

select {
    border-radius: 5px;
    padding: 2px;
    width: 100%;
    font-size: 0.9rem;
    background-color: white;
}

button {
    background-color: #fafafa;
    border-radius: 5px;
    padding: 8px 8px;
    line-height: 1;
    height: fit-content;
    border: 1px solid rgb(225, 225, 225);
    transition: 0.2s;
    color: black;
    font-size: 0.9rem;
}

button:hover {
    background-color: #eaeaea;
}

button.dark {
    background-color: #131313;
    color: white;

}


button.dark:hover {
    background-color: #2a2a2a;
}


table {
    border-collapse: collapse;
    width: 100%;

    thead {
        background-color: var(--bg-gray);

        th {
            padding: 0.5rem;
            border: 1px solid #eaeaea;
        }

    }


    tbody {

        tr {
            background-color: white;

            &:hover {
                background-color: #f0f0f0;
            }

            td {
                padding: 0.5rem;
                border: 1px solid #eaeaea;
            }
        }
    }


}


.sidebar-link {
    padding: 5px;
    border-radius: 5px;
}

.active-link {
    background-color: white;
    color: black !important;
    transition: 0.2s;

    * {
        scale: 0.8;

        color: black !important;
    }
}